# IDE and Editors
.idea/
.vscode/
*.iml
*.swp
*.swo
.classpath
.project
.settings/

# Build and Gradle
.gradle/
build/
.cxx/
.externalNativeBuild/

# Android specific
bin/
gen/
.android/
local.properties
proguard/
*.jks

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Local configuration
.config

# Project tools
/openspec
/.claude
/.cursor
